// Typography
$font-family: 'Roboto';

$font-color-1: rgb(255, 255, 255);
$font-color-2: rgb(33, 93, 141);

$font-size-big: 3em;
$font-size-medium: 1.5em;
$font-size-smoll: 1em;

// Color
$color-pending-task: rgb(250, 84, 62);
$color-perform-task: rgb(66, 78, 241);

